.generate-password {
	&-form {
		background: rgba(255, 255, 255, 0.25);
		box-shadow: 0 $spacing-sm $spacing-xxl 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur($spacing-xxs);
		-webkit-backdrop-filter: blur($spacing-xxs);
		border-radius: 0.625rem;
		border: $spacing-primary solid rgba(255, 255, 255, 0.18);
		padding: $spacing-base;
	}
	&-display {
		position: relative;
		width: 100%;
		padding: $spacing-xxs;
		margin: 0 auto $spacing-sm;
	}

	&-output {
		width: 100%;
		border: $spacing-primary solid $white;
		border-radius: $spacing-sm;
		padding: $spacing-sm $spacing-xxl;
	}
	&-length {
		width: 100%;
		padding: $spacing-sm 0;

		&-row {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;

			span {
				display: inline-block;
			}
		}

		&-text {
			width: 50%;
			text-align: left;
			font-weight: $barlow-semibold;
		}

		&-number {
			margin-left: auto;
			font-weight: $barlow-semibold;
		}

		&-range {
			width: 100%;
		}
	}

	&-options {
		padding: $spacing-xxs 0;
		margin: 0 auto $spacing-sm;

		&-row {
			display: flex;
			align-items: center;
			gap: $spacing-xxs;
			margin-bottom: $spacing-sm;
		}

		&-checkbox {
			transform: scale(2);
			margin-right: $spacing-xxs + 0.125rem;
		}

		&-label {
			font-weight: $barlow-medium;
		}
	}

	&-button {
		background: $blue;
		border: 0.0625rem solid $blue;
		color: $white;
		width: 100%;
		padding: $spacing-lg $font-size-xxl + 0.25rem;
		font-size: $spacing-lg;
		font-weight: $barlow-semibold;
		text-transform: uppercase;
		border-radius: $spacing-sm + 0.125rem;
	}
}

.password {
	font-size: $spacing-xxl + 1.75rem;
	color: white;
	padding-bottom: $spacing-lg;
}

.reveal-password-button {
	position: absolute;
	top: 0;
	right: 0;
	font-size: $font-size-base;
	padding: $spacing-md $spacing-base;
	color: $blue;
}
