.background {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	background: $gradient-background;
	background-image: $gradient-background;
	width: 100%;
	height: 100vh;
}

.app {
	min-width: 18.75rem;
	width: 100%;
	max-width: 22.5rem;
}

.heading {
	font-size: $font-size-xxl;
	color: $white;
	padding: $spacing-base 0;
	text-transform: uppercase;
}
