//font-sizes
$font-size-xs: 0.625rem;
$font-size-sm: 0.75rem;
$font-size-md: 0.875rem;
$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;

//spacings
$spacing-primary: 0.0625rem;
$spacing-secondary: 0.125rem;
$spacing-tertiary: 0.1875rem;
$spacing-xxs: 0.25rem;
$spacing-xs: 0.3125rem;
$spacing-sm: 0.5rem;
$spacing-md: 0.75rem;
$spacing-base: 1rem;
$spacing-lg: 1.25rem;
$spacing-xl: 1.5rem;
$spacing-xxl: 2rem;
